.h1 {
    color: #AF9D75;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    margin: 55px 0 90px 70px;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 675px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFE7BA;
    margin: 0 0 0 70px;
}
.input {
    width: 820px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #A68444;
    background: #FFE7BA;
    margin: 8px 0 0 40px;
}

.descricao {
    width: 820px;
    height: 174px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #A68444;
    background: #FFE7BA;
    margin: 8px 0 0 40px;
}

.button {
    background-color: #A68444;
    width: 131.579px;
    height: 50px;
    flex-shrink: 0;
    margin: 27px 0 0 320px;
    border-color: #A68444;
    border-radius: 30px;
}

.txt {
    color: #FFEFCB;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.label {
    color: #AF9D75;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 30px 0 0 40px;
}