.main {
    background-color: #FFF6DB;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 850px;
    flex-shrink: 0;
    background: #A68444;
}

.logo {
    width: 242.63px;
    height: 126.62px;
    flex-shrink: 0;
    margin: 360px 240px 0px 240px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.login {
    margin: 180px 0 0 70px;
    display: flex;
    width: 195px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5F4412;
    text-align: right;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 96px */
}

.h1 {
    margin: 0px 237px 351px 354px;
    display: flex;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
}

.input {
    margin: 8px 0px 0px 110px;
    width: 500px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFBED;
    color: #5F4412;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
}

.email{
    margin: 70px 0px 0px 70px;
    display: flex;
    width: 123px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5F4412;
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
}

.senha{
    margin: 20px 0px 0px 70px;
    display: flex;
    width: 123px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5F4412;
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
}

.input::placeholder {
    color: #5F4412;
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
  }

.button {
    margin: 50px 0px 0px 110px;
    display: flex;
    width: 200px;
    height: 50px;
    padding: 7px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #A68444;
}

.h3{
    color: #F6DFB4;
    text-align: right;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 54px */
}

.section {
    display: flex;
    width: 720px;
    height: 850px;
    flex-shrink: 0;
    background: #A68444;
}
